@model DemoASP01.Models.HomeModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><h2 style="color:red">@Model.Mesage</h2></p>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
